<div class="cv">
  <div class="card">
    <div class="avatar">
      <% if cv.avatar.present? %>
        <div
          style="background-image: url(<%= rails_blob_url(cv.avatar) %>)"
          class="avatar__image"
        >
        <%= link_to '', destroy_avatar_cv_path(@cv), class: 'avatar__delete icon icon--delete',
            data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </div>
      <% else %>
        <div class="avatar__image avatar__image--default">
          <%= simple_form_for cv, html: { class: "avatar__form" } do |form| %>
            <span class="input input--file">
              <label class="input__label">
                Загрузить изображение
              </label>
              <%= form.file_field :avatar,
                class: 'input__field',
                onchange: "this.form.submit()"
              %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card__info">
    <%= simple_form_for cv, data: { controller: 'toggle-visible' } do |form| %>
      <div class="js-toggle-visible">
        <%= cv.surname&.capitalize %>
        <%= cv.name&.capitalize %>
        <%= cv.patronymic&.capitalize %>
        <span class="icon icon--edit" data-action="click->toggle-visible#onShowContent"></span>
      </div>
      <div class="js-toggle-visible-content js-hidden">
        <div class="form form__group form__group--inline ">
          <%= form.input :surname, label: false, :input_html => {:class => 'input input__field--with-background'}%>
          <%= form.input :name, label: false, :input_html => {:class => 'input input__field--with-background'} %>
          <%= form.input :patronymic, label: false, :input_html => {:class => 'input input__field--with-background'} %>
        </div>

        <button data-action="click->toggle-visible#onHideContent" type="button" class="btn btn--primary">Close</button>
        <%= form.button :submit, 'Save', class: 'btn btn--primary' %>
      </div>
    <% end %>
    </div>
    <div class="card__actions card__actions--right-between">
      <%= link_to 'Delete Cv', cv_path(cv), class: 'btn btn--danger',
        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>
  </div>

  <div data-controller="sortable" data-cv-id="<%= @cv.id %>">
      <% @cv.content_blocks.order(position: :asc).each do |content_block| %>
        <div class="content-block content-block--edit js-content-block" data-id="<%= content_block.id %>">
          <div class="content-block__actions content-block__actions--paragraph">
            <span class="js-sortable-handle"></span>
            <%= link_to '', polymorphic_path(content_block.content), class: 'icon icon--delete',
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          </div>
          <%= render content_block.content %>
        </div>
      <% end %>
    </div>

    <div
      class="fixed-menu"
      data-controller="fixed-menu"
    >
      <button
        class="icon icon--plus icon--lg"
        data-action="click->fixed-menu#openMenu"
      ></button>
      <div class="fixed-menu__inner">
        <h2>
          Content blocks list
        </h2>
        <ul class="list">
          <% %w(Paragraph Image Document).each do |content_type| %>
            <li class="list__item content-type">
              <%= simple_form_for [@cv, @content_block] do |form| %>
                <div
                  class="content-type__img"
                >
                  <%= image_tag "content_types/#{content_type.downcase}.svg", class: 'content-type__image' rescue nil %>
                </div>
                <div class="content-type__content">
                  <%= form.hidden_field :content_type, value: "#{content_type}" %>
                  <%= form.hidden_field :cv_id, value: @cv.id %>
                  <%= form.submit "Add #{content_type}", class: 'btn btn--primary' %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</div>